<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="banner.img1" class="d-block w-100" [alt]="banner.alt">
    </div>
    <div class="carousel-item">
      <img [src]="banner.img2" class="d-block w-100" [alt]="banner.alt">
    </div>
    <div class="carousel-item">
      <img [src]="banner.img3" class="d-block w-100" [alt]="banner.alt">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
   <i class="fa-solid fa-arrow-left arrow1"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <i class="fa-solid fa-arrow-right arrow2"></i>
    <span class="visually-hidden">Next</span>
  </button>
</div>